.purple-box{
    background-color: rgb(99, 105, 209);
    margin: 25px;
    border: solid 20px black;
}
html{
    background-color: rgb(126, 141,133);
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a1 a2 a2";
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-area: a2;
}
body>header>.title>h2,h1{
    margin: 0;
    grid-area: a1;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 50px;
}
header,footer{
    background-color: rgb(246, 142, 95);
    width: 100%;
}
header{
    border-bottom: 10px solid black;
    max-height: 69px;
}
footer{
    border-top: 10px solid black;
    max-height: 175px;
}
section{
    color: white;
}
.black-box{
    margin: 20px;
    background-color: rgb(100, 100, 100);
    box-shadow: 0 0 10px 5px darkgray;
}
label{
    font-size: 30pt;
}
.abutton{
    border: solid 2px black;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: grey;
    color: white;
}
.bbutton{
    border: solid 2px black;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}