section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.purple-box{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.info{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
li{
    margin-top: 10px;
    font-size: 15pt;
}
.purple-box>h1{
    text-align: center;
    font-size: 36px;
}