section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.purple-box{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.info{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}