fieldset{
    border: none;
    display: grid;
    grid-gap: 20px;
}
h1{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 36pt;
}
section{
    display: flex;
    justify-content: center;
    align-content: center;
}
input, select{
    height: 25px;
    font-size: 20pt;
}
select{
    height: 35px;
}
#submit{
    width: 100px;
}
#greaterYearTxt, #lessYearTxt{
    width: 10%;
}