table{
    color: white;
}
.black-box{
    margin: 20px;
}
#songInfoContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a1 a1 a1 a1"
                "a2 a2 a2 a2"
                "a3 a4 a5 a6";
}
#songTitle, #artistName, #genre, #type, #year, #duration{
    display: flex;
    justify-content: center;
    align-content: center;
}
#songInfoContainer>h1{
    font-size: 36pt;
}
td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    font-size: 24px;
}
#songTitle{
    grid-area: a1;
}
#artistName{
    grid-area: a2;
}
#genre{
    grid-area: a3;
}
#type{
    grid-area: a4;
}
#year{
    grid-area: a5;
}
#duration{
    grid-area: a6;
}
#songStats{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
@media (max-width:430px){
    td{
        padding: 0;
    }
}
@media (max-width:700px){
    #songInfoContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "a1"
                            "a2"
                            "a3"
                            "a4"
                            "a5"
                            "a6";
    }
}